@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f7;
  --foreground: #020617;
}

.dark {
  --background: #2e2f36;
  --foreground: #e5e7eb;
}

body {
  @apply antialiased;
}

a {
  @apply text-primary underline-offset-4 hover:underline;
}

.section {
  @apply py-16 md:py-24;
}
